@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">



<button id="greenButton" class="btn btn-outline-primary">Green Text + Black Background</button>
<button id="fontButton" class="btn btn-outline-primary">Larger Font</button>
<button id="resetButton" class="btn btn-outline-primary">Reset</button>

<hr />
<div id="content">
    <h1>Movie App</h1>

<div class="container mt-4">
    <a asp-action="Create" class="btn btn-outline-dark mb-3">Lisää uusi</a>

    <aside id="infobox" class="alert alert-info mb-3" style="width:350px">
        Data ladattu ja päivitetty onnistuneesti!
    </aside>

    <!--SEARCH-->
    <form asp-controller="Movies" asp-action="Index" method="get" class="mb-3">
        <div class="input-group">
            <select asp-for="MovieGenre" asp-items="Model.Genres" class="form-select form-select-sm" style="max-width: 30rem;">
                <option value="" name="optionValue" selected>All</option>
            </select>
            <input type="text" asp-for="SearchString" id="messageInput" class="form-control" placeholder="Title" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-success rounded-1">Search</button>
                <button id="reset" class="btn btn-danger rounded-1" type="button">Reset</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    @foreach (var item in Model.Movies!)
    {
        <div class="col-sm-4">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">
                        Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate) <br />
                        Genre: @Html.DisplayFor(modelItem => item.Genre) <br />
                        Price: @Html.DisplayFor(modelItem => item.Price) <br />
                        Production Company: @Html.DisplayFor(modelItem => item.ProductionComp) <br />
                        Rating: @Html.DisplayFor(modelItem => item.Rating)
                    </p>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>




</div>